<h5 id="header-view-container" >Daftar Program</h5>
<div class="rse-flexbox main-content"><program-feature></program-feature>
<div id="div-list-list-program-content" class="div-list view-component"><div class="md-form">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="searchText" class="searchTerm" placeholder="Cari disini">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>

<ul *ngIf=" jsonAllProgram?.length > 0; else elseBlock" id='list-list-program-content' class='list-component view-component'><list-program-content *ngFor='let row of jsonAllProgram.reverse() | filter: searchText' [jsonAllProgram]='row'></list-program-content></ul>
<ng-template #elseBlock>Data Kosong</ng-template></div></div>