<div id="login-container">
    <div id="logo-center">
        <div id=logo-container>
            <img id="logo-sple" src="https://i.ibb.co/BjnzQQ9/SPLELive-Logo-admin-2.png" />
        </div>
    </div>
    <div id='login-form'>
        <button *ngIf='this.isLoggedIn == false' type="submit" id="login-submit" class="event onsubmit-event" (click)="submitLogin()"><div id="text-next">Login</div></button>
        <button *ngIf='this.isLoggedIn == true' type="submit" id="login-submit" class="event onsubmit-event" (click)="logout()"><div id="text-next">Logout</div></button>
    </div>
</div>