/* 
#######################################################################################
This is CSS For
Admin Login Component
#######################################################################################
**/

@import url('https://fonts.googleapis.com/css?family=Lato');
#login-container{
    text-align: center;
    margin-top: 125px;
}


#logo-sple{
    width: 394px;
}

.text-logo{
    color: #47525E;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 900;
    line-height: 41px;
    text-align: left;
    Width: 116px;
    Height: 38px;
    margin-top: 0;
    float: right;
    letter-spacing: 5px;
}

.input-login{
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    height: 59.59px;
    display: block;
    margin-bottom: 12.41px;
}

#login-submit{
    background-color: #77D353;
    border-radius: 5px;
    height: 50%;
    margin-bottom: 8.11px;
    display: block;
    width: 50%;
}

#text-next{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    position: relative;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8190A5;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
    width: 228.23px;
    text-align: left;
  }

#forgot-password{
    background-color: #969FAA;
    border-radius: 5px;
    height: 41.5px;
    margin-bottom: 8.11px;
    display: block;
    width: 100%;
  /* margin-left: 592px; */
}

#text-forgot{
    color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

#checkbox-remember{
    background-color: #FFFFFF;
  border: 2px solid #8492A6;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  margin-bottom: 14px;
  position: relative;
}

#text-remember{
    color: #47525E;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  position: relative;
  left: -125px;
  top: -39px;
}

input[type="text"], input[type="password"]
{
    color: #47525E;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 18.42px;
}

#login-form{
    background-color: #f1f4f6;
    box-shadow: none;
    margin: inherit;
    width: 100%;
    text-align: -webkit-center;
}

#login-button-container{
    text-align: center;
}

#logo-container{
    width: 400px;
    height: auto;
    text-align: center;
}

#logo-center{
    text-align: -webkit-center;
    width: 100%;
}