<h5 id="header-view-container" >Halaman Detail Transaksi</h5>
<div class="rse-flexbox main-content"><div id="div-detail-detail-summary" class="div-detail view-component"><detail-summary [objectDetailSummary]='objectDetailSummary' [idSummary]='idSummary'></detail-summary></div></div>