<h5 id="header-view-container" >Halaman Ubah Program</h5>
<div class="rse-flexbox main-content"><div id="div-form-ubah-data-program" class="div-form view-component"><ubah-data-program [objectEditProgram]='objectEditProgram' [namaProgram]='namaProgram' [deskripsi]='deskripsi' [target]='target' [partner]='partner' [urlGambarProgram]='urlGambarProgram' [id]='id'></ubah-data-program></div></div>