<h5 id="header-view-container" >Halaman Detail Program</h5>
<div class="rse-flexbox main-content"><div id="div-detail-detail-program" class="div-detail view-component"><detail-program [objectDetailProgram]='objectDetailProgram' [id]='id'></detail-program></div></div>