<div id='div-id-income' class='div-simple-field view-component-part'>
    <label id='label-id-income' for='input-id-income' class='label-simple-field'>Id Income</label>
    <input id='input-id-income' class='view-component-part simple-field' name='idIncome' type='number' [(ngModel)]='idIncome' placeholder='Isi Id Income'/>
</div>
<td id='td-vis-tanggal' attr.data-target='{{ incomeListElement.datestamp }}' class='view-component-part visualization-attribute'>
    {{ incomeListElement.datestamp }}
</td>
<td id='td-vis-program' attr.data-target='{{ incomeListElement.programName }}' class='view-component-part visualization-attribute'>
    {{ incomeListElement.programName }}
</td>
<td id='td-vis-jumlah' attr.data-target='{{ incomeListElement.amount }}' class='view-component-part visualization-attribute'>
   Rp  {{ incomeListElement.amount }}
</td>
<td id='td-vis-deskripsi' attr.data-target='{{ incomeListElement.description }}' class='view-component-part visualization-attribute'>
    {{ incomeListElement.description }}
</td>