<div id="main-content">
  <nav>
    <div class="main-logo">
      <img id="logo" src="{{ gambar }}" />
    </div>

    <div class="drawer-button">
      <button (click)="setDrawer()">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <ul [ngClass]="isDrawerOpen ? 'main-menu show' : 'main-menu'">

      <li (click)="setDrawer()">
        <button routerLink="/homepage">
          <a style="text-decoration: none">
            <b>Beranda</b>
          </a>
        </button>
      </li>

      <li class="dropdown-parent" (click)="setDropdown()">
        <button class="dropbtn" id="button-fitur">Fitur
          <i class="fa fa-caret-down"></i>
        </button>

        <ul [ngClass]="isDropdownOpen ? 'dropdown-content show' : 'dropdown-content'" (click)="setDrawer()">
          <list-deskripsi-coa-main-menu></list-deskripsi-coa-main-menu>
          <div #program></div>
          <div #income_main_menu></div>
          <div #expense_main_menu></div>
          <div #summary_main_menu></div>
          <div #coa_main_menu></div>
        </ul>
      </li>

      <li *ngIf='this.isLoggedIn == true && this.isAdmin == true '>
        <button (click)="goToAdmin()">
          <a style="text-decoration: none">
            Halaman Admin
          </a>
        </button>
      </li>

      <li (click)="setDrawer()">
        <button *ngIf='this.isLoggedIn == false' (click)="submitLogin()">
          <a style="text-decoration: none">
            <b>Login</b>
          </a>
        </button>
        <button *ngIf='this.isLoggedIn == true' (click)="logout()">
          <a style="text-decoration: none">
            <b>Logout</b>
          </a>
        </button>
      </li>
    </ul>
  </nav>
</div>

<div id="app-root" class="div-content-router">
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="site-footer" id="footer">
      <div class="w3-container">
        <div class="w3-row">
      
  
          <div class="w3-col s6 m3">
            
            <ul class="footer-links">
              <li><a href="#">Beranda</a></li>
              <li><a href="#">Tentang Kami</a></li>
              <li><a href="#">Program</a></li>
              <li><a href="#">Kontak</a></li>
            </ul>
          </div>
          
          <div id="supported" class="w3-col s12 m6">
            <h6>Supported By:</h6>
            <div classs="w3-row">
              <div class="flex-entity">
                <div><img src="https://i.ibb.co/p1yF1BY/logo-new-white.jpg" style="height:100px;width:100px;margin-right:20px;" /></div>
                <div><img src="https://i.ibb.co/YDcnx62/SPLELive-Logo-white.png" style="height:40px;width:235px;" /></div>
              </div>
            </div>
          </div>
          
        </div>
        <hr>
      </div>
      <div class="w3-container">
        <div class="w3-row">
          <div id="social-container" class="w3-col m4 s12">
            <ul class="social-icons">
              <li><a class="facebook" href="{{ facebook }}" target="_blank" ><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="{{ instagram }}" target="_blank" ><i class="fa fa-instagram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
  </footer>