/* 
#######################################################################################
This is CSS For
Admin Edit Component
#######################################################################################
**/

#edit-container{
  padding-left: 84px;
  padding-top: 25px;
  padding-bottom: 58.5px;
}

#logo-sple{
  width: 394px;
}

.text-logo{
  color: #47525E;
  font-family: 'Lato';
  font-size: 32px;
  font-weight: 900;
  line-height: 41px;
  Width: 116px;
  Height: 38px;
  margin-top: 0;
  letter-spacing: 5px;
  margin-left: 285px;
}

.text-title{
  color: #47525E;
font-family: Lato;
font-weight: 400;
line-height: 33px;
text-align: left;
}

#about-textarea{
  background-color: #FFFFFF;
border: 1px solid #8492A6;
border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #8190A5;
font-family: Lato;
font-size: 13px;
font-weight: 400;
width: 447px;
text-align: left;
}

textarea, input
{  
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding-left: 14.5px;
}

textarea{
  padding-top: 10px;
}

textarea:focus{
  color:black;
}

input:focus{
  color:black;
}

.button-save{
  background-color: #00A6FF;
border-radius: 5px;
width: 318px;
height: 41.5px;
display: block;
}

.save-text{
color: #FFFFFF;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-block-start: auto;
  margin-block-end: auto;
}

.label-visualization{
  color: #47525E;
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 33px;
text-align: left;
display: inline-block;
}

#input-address{
border: 1px solid #8492A6;
border-radius: 5px;
display: inline-block;
}

.input-form{
border: 1px solid #8492A6;
border-radius: 5px;
width: 577px;
height: 50px;
position: relative;
display: inline;
}


#red-theme{
  background-color: #F95F62;
  border: 2px solid #343F4B;
  border-radius: 5px;
  width: 280.12px;
  height: 41.61px;
  display: inline-block;
}

#green-theme{
  background-color: #77D353;
border: 2px solid #343F4B;
border-radius: 5px;
width: 280.12px;
height: 41.61px;
display: inline-block;
}

#blue-theme{
  background-color: #00A6FF;
border: 2px solid #343F4B;
border-radius: 5px;
width: 280.12px;
height: 41.61px;
display: inline-block;
}

.theme-text{
  color: #FFFFFF;
font-family: Lato;
font-size: 16px;
font-weight: 400;
width: 280.12px;
text-align: center;
position: relative;
top: -15px;
}

#publish{
background-color: #00A6FF;
border-radius: 5px;
width: 318px;
height: 41.5px;
margin-top: 40px;
}

.form-entity{
  display: -webkit-flex; /* Safari */
  display: flex;
}

.form-entity div{
  flex-basis: 160px;
}

.button-color{
border-radius: 5px;
width: 318px;
height: 41.5px;
display: block;
}

.active, .button-color:hover{
  -webkit-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.75);
}