<h5 id="header-view-container" >Catatan Transaksi</h5>
<div class="rse-flexbox main-content"><div id="div-list-list-summary-content" class="div-list view-component"><div class="md-form">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="searchText" class="searchTerm" placeholder="Cari disini">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>
<div class="table-parent">
    <table *ngIf=" jsonAllSummary?.length > 0; else elseBlock" id='table-list-summary-content' class='list-component view-component'>
    <thead>
        <tr>
        
            <td id='Tanggal'>Tanggal</td>
        
            <td id='Program'>Program</td>
        
            <td id='Pemasukan'>Pemasukan</td>
        
            <td id='Pengeluaran'>Pengeluaran</td>
        
        </tr>
    </thead>
    <tbody>
    <tr list-summary-content *ngFor='let row of jsonAllSummary | filter: searchText' [jsonAllSummary]='row'>
    </tr>
    </tbody>
    </table>
</div>
<ng-template #elseBlock>Data Kosong</ng-template></div></div>