<div id='div-id-summary' class='div-simple-field view-component-part'>
    <label id='label-id-summary' for='input-id-summary' class='label-simple-field'>Id Summary</label>
    <input id='input-id-summary' class='view-component-part simple-field' name='idSummary' type='number' [(ngModel)]='idSummary' placeholder='Isi Id Summary'/>
</div>
<td id='td-vis-tanggal' attr.data-target='{{ summaryListElement.datestamp }}' class='view-component-part visualization-attribute'>
    {{ summaryListElement.datestamp }}
</td>
<td id='td-vis-program' attr.data-target='{{ summaryListElement.programName }}' class='view-component-part visualization-attribute'>
    {{ summaryListElement.programName }}
</td>
<td id='td-vis-pemasukan' attr.data-target='{{ summaryListElement.income }}' class='view-component-part visualization-attribute'>
   Rp  {{ summaryListElement.income }}
</td>
<td id='td-vis-pengeluaran' attr.data-target='{{ summaryListElement.expense }}' class='view-component-part visualization-attribute'>
   Rp  {{ summaryListElement.expense }}
</td>