<h5 id="header-view-container" ></h5>
<div class="rse-flexbox main-content"><div id='div-vis-tanggal' class='view-component-part visualization-attribute'>
    <p id='label-vis-tanggal' class='label-visualization'>Tanggal</p>
    <p id='vs-tanggal' class='class-attribute'>{{ summaryData.datestamp }}</p>
</div>
<div id='div-vis-deskripsi' class='view-component-part visualization-attribute'>
    <p id='label-vis-deskripsi' class='label-visualization'>Deskripsi</p>
    <p id='vs-deskripsi' class='class-attribute'>{{ summaryData.description }}</p>
</div>
<div id='div-vis-pemasukan' class='view-component-part visualization-attribute'>
    <p id='label-vis-pemasukan' class='label-visualization'>Pemasukan</p>
    <p id='vs-pemasukan' class='class-attribute'>{{ summaryData.income }}</p>
</div>
<div id='div-vis-pengeluaran' class='view-component-part visualization-attribute'>
    <p id='label-vis-pengeluaran' class='label-visualization'>Pengeluaran</p>
    <p id='vs-pengeluaran' class='class-attribute'>{{ summaryData.expense }}</p>
</div>
<div id='div-vis-program' class='view-component-part visualization-attribute'>
    <p id='label-vis-program' class='label-visualization'>Program</p>
    <p id='vs-program' class='class-attribute'>{{ summaryData.programName }}</p>
</div>
<div id='div-id-summary' class='div-simple-field view-component-part'>
    <label id='label-id-summary' for='input-id-summary' class='label-simple-field'>Id Summary</label>
    <input id='input-id-summary' class='view-component-part simple-field' name='idSummary' type='number' [(ngModel)]='idSummary' placeholder='Isi Id Summary'/>
</div>
<button id="view-event-delete" class="event view-element-event" (click)="delete()">Delete</button></div>