<h5 id="header-view-container" >Laporan Keuangan</h5>
<div class="rse-flexbox main-content"><div id="div-list-list-chart-of-account-entry" class="div-list view-component"><div class="md-form">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="searchText" class="searchTerm" placeholder="Cari disini">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>
<div class="table-parent">
    <table *ngIf=" jsonAllChartOfAccountEntry?.length > 0; else elseBlock" id='table-list-chart-of-account-entry' class='list-component view-component'>
    <thead>
        <tr>
        
            <td id='Level'>Level</td>
        
            <td id='Kode Akun'>Kode Akun</td>
        
            <td id='Nama'>Nama</td>
        
            <td id='Jumlah'>Jumlah</td>
        
        </tr>
    </thead>
    <tbody>
    <tr list-chart-of-account-entry *ngFor='let row of jsonAllChartOfAccountEntry | filter: searchText' [jsonAllChartOfAccountEntry]='row'>
    </tr>
    </tbody>
    </table>
</div>
<ng-template #elseBlock>Data Kosong</ng-template></div></div>