<h5 id="header-view-container" ></h5>
<div class="rse-flexbox main-content"><div id='div-vis-tanggal' class='view-component-part visualization-attribute'>
    <p id='label-vis-tanggal' class='label-visualization'>Tanggal</p>
    <p id='vs-tanggal' class='class-attribute'>{{ incomeData.datestamp }}</p>
</div>
<div id='div-vis-deskripsi' class='view-component-part visualization-attribute'>
    <p id='label-vis-deskripsi' class='label-visualization'>Deskripsi</p>
    <p id='vs-deskripsi' class='class-attribute'>{{ incomeData.description }}</p>
</div>
<div id='div-vis-jumlah' class='view-component-part visualization-attribute'>
    <p id='label-vis-jumlah' class='label-visualization'>Jumlah</p>
    <p id='vs-jumlah' class='class-attribute'>{{ incomeData.amount }}</p>
</div>
<div id='div-vis-nama-program' class='view-component-part visualization-attribute'>
    <p id='label-vis-nama-program' class='label-visualization'>Nama Program</p>
    <p id='vs-nama-program' class='class-attribute'>{{ incomeData.programName }}</p>
</div>
<div id='div-vis-jenis-pemasukan' class='view-component-part visualization-attribute'>
    <p id='label-vis-jenis-pemasukan' class='label-visualization'>Jenis Pemasukan</p>
    <p id='vs-jenis-pemasukan' class='class-attribute'>{{ incomeData.idCoa }}</p>
</div>
<div id='div-id-income' class='div-simple-field view-component-part'>
    <label id='label-id-income' for='input-id-income' class='label-simple-field'>Id Income</label>
    <input id='input-id-income' class='view-component-part simple-field' name='idIncome' type='number' [(ngModel)]='idIncome' placeholder='Isi Id Income'/>
</div>
<button id="view-event-delete" class="event view-element-event" (click)="delete()">Delete</button></div>