<form id='ubah-data-program' #ubahDataProgram='ngForm' (ngSubmit)='kirim()' class='form view-component'>
    <h2 id='ubah-data-program-title' class='form-title'>Ubah Data Program</h2>
    <div id='div-nama-program' class='div-simple-field view-component-part'>
    <label id='label-nama-program' for='input-nama-program' class='label-simple-field'>Nama Program</label>
    <input id='input-nama-program' class='view-component-part simple-field' name='namaProgram' type='text' [(ngModel)]='namaProgram' placeholder='Isi Nama Program'/>
</div>
<div id='div-deskripsi' class='div-simple-field view-component-part'>
    <label id='label-deskripsi' for='input-deskripsi' class='label-simple-field'>Deskripsi</label>
    <textarea rows="4" cols="50" id='input-deskripsi' class='view-component-part simple-field' name='deskripsi' type='text' [(ngModel)]='deskripsi' placeholder='Isi Deskripsi'></textarea>
</div>
<div id='div-target' class='div-simple-field view-component-part'>
    <label id='label-target' for='input-target' class='label-simple-field'>Target</label>
    <input id='input-target' class='view-component-part simple-field' name='target' type='text' [(ngModel)]='target' placeholder='Isi Target'/>
</div>
<div id='div-partner' class='div-simple-field view-component-part'>
    <label id='label-partner' for='input-partner' class='label-simple-field'>Partner</label>
    <input id='input-partner' class='view-component-part simple-field' name='partner' type='text' [(ngModel)]='partner' placeholder='Isi Partner'/>
</div>
<div id='div-url-gambar-program' class='div-simple-field view-component-part'>
    <label id='label-url-gambar-program' for='input-url-gambar-program' class='label-simple-field'>Url Gambar Program</label>
    <input id='input-url-gambar-program' class='view-component-part simple-field' name='urlGambarProgram' type='text' [(ngModel)]='urlGambarProgram' placeholder=' Kolom Url Gambar ' disabled/>
    <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)" (click)="resetCss()">
</div>
    <p id='input-info-url-gambar-program'>Disarankan menggunakan gambar dengan dimensi 1:1 / square size</p>
</div>
<div id='div-id' class='div-simple-field view-component-part'>
    <label id='label-id' for='input-id' class='label-simple-field'>Id</label>
    <input id='input-id' class='view-component-part simple-field' name='id' type='number' [(ngModel)]='id' placeholder='Isi Id'/>
</div>
<button type="submit" id="onsubmit-event-kirim" class="event onsubmit-event">Kirim</button>
</form>