<h5 id="header-view-container" >Halaman Daftar Akun</h5>
<div class="rse-flexbox main-content"><div id="div-list-daftar-kode-akun" class="div-list view-component"><div class="md-form">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="searchText" class="searchTerm" placeholder="Cari disini">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>
<div class="table-parent">
    <table *ngIf=" jsonAllCoa?.length > 0; else elseBlock" id='table-daftar-kode-akun' class='list-component view-component'>
    <thead>
        <tr>
        
            <td id='Kode Akun'>Kode Akun</td>
        
            <td id='Nama'>Nama</td>
        
            <td id='Deskripsi'>Deskripsi</td>
        
            <td id='Referensi'>Referensi</td>
        
        </tr>
    </thead>
    <tbody>
    <tr daftar-kode-akun *ngFor='let row of jsonAllCoa | filter: searchText' [jsonAllCoa]='row'>
    </tr>
    </tbody>
    </table>
</div>
<ng-template #elseBlock>Data Kosong</ng-template></div></div>