/* 
#######################################################################################
This is CSS For
Admin Result Component
#######################################################################################
**/

@import url('https://fonts.googleapis.com/css?family=Lato');

#result-container{
    padding-left: 84px;
    padding-top: 25px;
}

#logo-sple{
    width: 394px;
}

.text-logo{
    color: #47525E;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 900;
    line-height: 41px;
    text-align: left;
    Width: 116px;
    Height: 38px;
    margin-top: 0;
    margin-left: 285px;
    letter-spacing: 5px;
    margin-bottom: 106px;
}

.text-title{
    color: #47525E;
    font-family: Lato;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
}

#congrats{
    color: #47525E;
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}

#visit{
    background-color: #77D353;
    border-radius: 5px;
    width: 318px;
    height: 41.5px;
    display: block;
    margin-left: 563px;
}

.visit-text{
    color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  width: 280.12px;
  text-align: center;
  position: relative;
  top: -15px;
}