<td id='td-vis-kode-akun' attr.data-target='{{ coaElement.id }}' class='view-component-part visualization-attribute'>
    {{ coaElement.id }}
</td>
<td id='td-vis-nama' attr.data-target='{{ coaElement.name }}' class='view-component-part visualization-attribute'>
    {{ coaElement.name }}
</td>
<td id='td-vis-deskripsi' attr.data-target='{{ coaElement.description }}' class='view-component-part visualization-attribute'>
    {{ coaElement.description }}
</td>
<td id='td-vis-referensi' attr.data-target='{{ coaElement.reference }}' class='view-component-part visualization-attribute'>
    {{ coaElement.reference }}
</td>