<div id="edit-container">
    <div id="logo-container">
        <img id="logo-sple" src="https://i.ibb.co/BjnzQQ9/SPLELive-Logo-admin-2.png" />
    </div>
    <h3 class="text-title">Silakan lengkapi data halaman utama berikut sebelum publikasi websitemu</h3>
    <div class="content-container">
        <h5 class="text-title">1. Informasi Umum</h5>
        <p class="text-title">Harap isi data secara rinci tentang organisasi sosialmu</p>
        <h6 class="text-title"><b>Slogan</b></h6>
        <textarea rows="2" cols="100" id="about-textarea" [(ngModel)]='slogan' placeholder="Isi disini slogan organisasimu"></textarea>
        <br>
        <h6 class="text-title"><b>Deskripsi Website</b></h6>
        <textarea rows="4" cols="100" id="about-textarea" [(ngModel)]='detail' placeholder="Isi disini deskripsi websitemu"></textarea>
        <br>
        <h6 class="text-title"><b>Tentang Organisasimu</b></h6>
        <textarea rows="4" cols="100" id="about-textarea" [(ngModel)]='aboutUs' placeholder="Isi disini detail informasi organisasimu"></textarea>
        <br>
    </div>
    <div class="content-container">
        <h5 class="text-title">2. Kontak </h5>
        <p class="text-title">Harap berikan informasi mengenai kontak organisasimu</p>
        <div class='form-content'>
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Alamat</p>
                </div>
                <div>
                    <input id='input-address' class='input-form' name='address' type='text' [(ngModel)]='address' placeholder='Detail alamat' />
                </div>
            </div>
            <!-- <div class="form-entity">
                <div><p id='label-address' class='label-visualization'>Google Maps URL</p></div>
                <div><input id='input-map' class='input-form' name='map' type='text' [(ngModel)]='map' placeholder='GMaps URL'/></div>
            </div> -->
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Email</p>
                </div>
                <div>
                    <input id='input-email' class='input-form' name='email' type='text' [(ngModel)]='email' placeholder='Alamat email' />
                </div>
            </div>
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Nomor HP/ Telepon</p>
                </div>
                <div>
                    <input id='input-phone' class='input-form' name='phone' type='text' [(ngModel)]='phone' placeholder='Nomor handphone' />
                </div>
            </div>
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Facebook</p>
                </div>
                <div>
                    <input id='input-facebook' class='input-form' name='facebook' type='text' [(ngModel)]='facebook' placeholder='Url Facebook' />
                </div>
            </div>
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Instagram</p>
                </div>
                <div>
                    <input id='input-instagram' class='input-form' name='instagram' type='text' [(ngModel)]='instagram' placeholder='Url Instagram' />
                </div>
            </div>
        </div>
    </div>
    <div class="content-container">
        <h5 class="text-title">3. Aset Esensial</h5>
        <p class="text-title">Silakan berikan aset organisasimu sebagai ciri khas pada websitemu</p>
        <div class='form-content'>
            <div class="form-entity">
                <div>
                    <p id='label-logo' class='label-visualization'>Logo Organisasi</p>
                </div>
                <div>
                    <input id='input-logo' class='input-form' name='logoUrl' type='text' [(ngModel)]='logoUrl' placeholder='Salin URL logomu disini' disabled />
                </div>
                <div class="form-group">
                    <input type="file" id="file-banner" (change)="handleFileInput($event.target.files, 'logo')" (click)="resetCss('logo')">
                </div>
            </div>
            <div class="form-entity">
                <div>
                    <p id='label-address' class='label-visualization'>Foto Sampul</p>
                </div>
                <div>
                    <input id='input-banner' class='input-form' name='banner' type='text' [(ngModel)]='banner' placeholder='Salin URL foto sampulmu disini' disabled />
                </div>
                <div class="form-group">
                    <input type="file" id="file-banner" (change)="handleFileInput($event.target.files, 'banner')" (click)="resetCss('banner')">
                </div>
            </div>
            <div class="form-entity">
                <div>
                    <p id='label-theme' class='label-visualization'>Tentukan tema warna websitemu</p>
                </div>
            </div>
        </div>
        <span id="red-theme" class="button-color" (click)="select('red')"><p class="theme-text">Merah</p></span>
        <span id="green-theme" class="button-color" (click)="select('green')"><p class="theme-text">Hijau</p></span>
        <span id="blue-theme" class="button-color" (click)="select('blue')"><p class="theme-text">Biru</p></span>
    </div>
    <div id="publish-container">
        <button id="publish" class="button-save" (click)="submit()">
            <p class="save-text">SELESAI!</p>
        </button>
    </div>
</div>