<h5 id="header-view-container" ></h5>
<div class="rse-flexbox main-content"><div id='div-vis-tanggal' class='view-component-part visualization-attribute'>
    <p id='label-vis-tanggal' class='label-visualization'>Tanggal</p>
    <p id='vs-tanggal' class='class-attribute'>{{ expenseData.datestamp }}</p>
</div>
<div id='div-vis-deskripsi' class='view-component-part visualization-attribute'>
    <p id='label-vis-deskripsi' class='label-visualization'>Deskripsi</p>
    <p id='vs-deskripsi' class='class-attribute'>{{ expenseData.description }}</p>
</div>
<div id='div-vis-jumlah' class='view-component-part visualization-attribute'>
    <p id='label-vis-jumlah' class='label-visualization'>Jumlah</p>
    <p id='vs-jumlah' class='class-attribute'>{{ expenseData.amount }}</p>
</div>
<div id='div-vis-nama-program' class='view-component-part visualization-attribute'>
    <p id='label-vis-nama-program' class='label-visualization'>Nama Program</p>
    <p id='vs-nama-program' class='class-attribute'>{{ expenseData.programName }}</p>
</div>
<div id='div-vis-jenis-pengeluaran' class='view-component-part visualization-attribute'>
    <p id='label-vis-jenis-pengeluaran' class='label-visualization'>Jenis Pengeluaran</p>
    <p id='vs-jenis-pengeluaran' class='class-attribute'>{{ expenseData.idCoa }}</p>
</div>
<div id='div-id-expense' class='div-simple-field view-component-part'>
    <label id='label-id-expense' for='input-id-expense' class='label-simple-field'>Id Expense</label>
    <input id='input-id-expense' class='view-component-part simple-field' name='idExpense' type='number' [(ngModel)]='idExpense' placeholder='Isi Id Expense'/>
</div>
<button id="view-event-hapus" class="event view-element-event" (click)="hapus()">Hapus</button></div>