<div id="result-container">
    <img id="logo-sple" src="https://i.ibb.co/BjnzQQ9/SPLELive-Logo-admin-2.png" />
    <p class="text-title" id="congrats">SELAMAT!!!</p>
    <p class="text-title">Selamat! Kamu telah menyelesaikan konfigurasi websitemu</p>
    <p class="text-title" id="timer">Websitemu sudah SIAP digunakan dalam 5 detik</p>
    <p class="text-title">Tekan <a class="text-title" href="/homepage">disini</a> jika kamu tidak diarahkan ke halaman utama secara otomatis</p>
    <!-- <button id="visit" (click)="go()"><p class="visit-text">Go To My Website</p></button> -->
</div>