<h5 id="header-view-container" ></h5>
<div class="rse-flexbox main-content"><div id='div-id' class='div-simple-field view-component-part'>
    <label id='label-id' for='input-id' class='label-simple-field'>Id</label>
    <input id='input-id' class='view-component-part simple-field' name='id' type='number' [(ngModel)]='id' placeholder='Isi Id'/>
</div>
<div id='div-vis-nama' class='view-component-part visualization-attribute'>
    <p id='label-vis-nama' class='label-visualization'>Nama</p>
    <p id='vs-nama' class='class-attribute'>{{ programData.name }}</p>
</div>
<div id='div-vis-partner' class='view-component-part visualization-attribute'>
    <p id='label-vis-partner' class='label-visualization'>Partner</p>
    <p id='vs-partner' class='class-attribute'>{{ programData.partner }}</p>
</div>
<div id='div-vis-target' class='view-component-part visualization-attribute'>
    <p id='label-vis-target' class='label-visualization'>Target</p>
    <p id='vs-target' class='class-attribute'>{{ programData.target }}</p>
</div>
<div id='div-vis-deskripsi' class='view-component-part visualization-attribute'>
    <p id='label-vis-deskripsi' class='label-visualization'>Deskripsi</p>
    <p id='vs-deskripsi' class='class-attribute'>{{ programData.description }}</p>
</div>
<div id='div-vis-gambar' class='view-component-part visualization-attribute'>
    <p id='label-vis-gambar' class='label-visualization'>Gambar</p>
    <img id='img-gambar' class='class-attribute' src='{{ programData.logoUrl }}' />
</div>
<button id="view-event-hapus" class="event view-element-event" (click)="hapus()">Hapus</button>
<button id="view-event-ubah" class="event view-element-event" (click)="ubah()">Ubah</button></div>