<h5 id="header-view-container" >Catatan Pemasukan</h5>
<div class="rse-flexbox main-content"><income-menu-feature></income-menu-feature>
<div id="div-list-list-income-content" class="div-list view-component"><div class="md-form">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="searchText" class="searchTerm" placeholder="Cari disini">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>
<div class="table-parent">
    <table *ngIf=" jsonAllIncome?.length > 0; else elseBlock" id='table-list-income-content' class='list-component view-component'>
    <thead>
        <tr>
        
            <td id='Tanggal'>Tanggal</td>
        
            <td id='Program'>Program</td>
        
            <td id='Jumlah'>Jumlah</td>
        
            <td id='Deskripsi'>Deskripsi</td>
        
        </tr>
    </thead>
    <tbody>
    <tr list-income-content *ngFor='let row of jsonAllIncome | filter: searchText' [jsonAllIncome]='row'>
    </tr>
    </tbody>
    </table>
</div>
<ng-template #elseBlock>Data Kosong</ng-template></div></div>