<div id='div-id-expense' class='div-simple-field view-component-part'>
    <label id='label-id-expense' for='input-id-expense' class='label-simple-field'>Id Expense</label>
    <input id='input-id-expense' class='view-component-part simple-field' name='idExpense' type='number' [(ngModel)]='idExpense' placeholder='Isi Id Expense'/>
</div>
<td id='td-vis-tanggal' attr.data-target='{{ expenseListElement.datestamp }}' class='view-component-part visualization-attribute'>
    {{ expenseListElement.datestamp }}
</td>
<td id='td-vis-program' attr.data-target='{{ expenseListElement.programName }}' class='view-component-part visualization-attribute'>
    {{ expenseListElement.programName }}
</td>
<td id='td-vis-jumlah' attr.data-target='{{ expenseListElement.amount }}' class='view-component-part visualization-attribute'>
   Rp  {{ expenseListElement.amount }}
</td>
<td id='td-vis-deskripsi' attr.data-target='{{ expenseListElement.description }}' class='view-component-part visualization-attribute'>
    {{ expenseListElement.description }}
</td>