.dropdown {
    float: right;
    overflow: hidden;
    width: 200px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 55px;
    width: 200px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1;
    margin-top: 0px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #logo {
  width: 55px;
  height: 55px;
  position: fixed;
  margin-left: 30px;
}