<h5 id="header-view-container" >Halaman Detail Pengeluaran</h5>
<div class="rse-flexbox main-content"><div id="div-detail-detail-expense" class="div-detail view-component"><detail-expense [objectDetailExpense]='objectDetailExpense' [idExpense]='idExpense'></detail-expense></div></div>