<td id='td-vis-level' attr.data-target='{{ chartOfAccountEntryElement.level }}' class='view-component-part visualization-attribute'>
    {{ chartOfAccountEntryElement.level }}
</td>
<td id='td-vis-kode-akun' attr.data-target='{{ chartOfAccountEntryElement.idChartOfAccount }}' class='view-component-part visualization-attribute'>
    {{ chartOfAccountEntryElement.idChartOfAccount }}
</td>
<td id='td-vis-nama' attr.data-target='{{ chartOfAccountEntryElement.name }}' class='view-component-part visualization-attribute'>
    {{ chartOfAccountEntryElement.name }}
</td>
<td id='td-vis-jumlah' attr.data-target='{{ chartOfAccountEntryElement.amount }}' class='view-component-part visualization-attribute'>
   Rp  {{ chartOfAccountEntryElement.amount }}
</td>