<form id='tambahkan-pemasukan' #tambahkanPemasukan='ngForm' (ngSubmit)='kirim()' class='form view-component'>
    <h2 id='tambahkan-pemasukan-title' class='form-title'>Tambahkan Pemasukan</h2>
    <div id='div-tanggal' class='div-simple-field view-component-part'>
    <label id='label-tanggal' for='input-tanggal' class='label-simple-field'>Tanggal</label>
    <input id='input-tanggal' class='view-component-part simple-field' name='tanggal' type='date' [(ngModel)]='tanggal' placeholder='Isi Tanggal'/>
</div>
<div id='div-deskripsi' class='div-simple-field view-component-part'>
    <label id='label-deskripsi' for='input-deskripsi' class='label-simple-field'>Deskripsi</label>
    <textarea rows="4" cols="50" id='input-deskripsi' class='view-component-part simple-field' name='deskripsi' type='text' [(ngModel)]='deskripsi' placeholder='Isi Deskripsi'></textarea>
</div>
<div id='div-jumlah' class='div-simple-field view-component-part'>
    <label id='label-jumlah' for='input-jumlah' class='label-simple-field'>Jumlah</label>
    <input id='input-jumlah' class='view-component-part simple-field' name='jumlah' type='number' [(ngModel)]='jumlah' placeholder='Isi Jumlah'/>
</div>
<div id='div-nama-program-terkait' class='div-simple-field view-component-part'>
    <label id='label-nama-program-terkait' for='input-nama-program-terkait' class='label-simple-field'>Nama Program Terkait</label>
    <select id='input-nama-program-terkait' class='view-component-part simple-field' name='namaProgramTerkait' [(ngModel)]='namaProgramTerkait'>
        <option [value]="programOption.name" *ngFor="let programOption of programOptions">{{programOption.name}}</option>
    </select>
</div>
<div id='div-kode-akun' class='div-simple-field view-component-part'>
    <label id='label-kode-akun' for='input-kode-akun' class='label-simple-field'>Kode Akun</label>
    <select id='input-kode-akun' class='view-component-part simple-field' name='kodeAkun' [(ngModel)]='kodeAkun'>
        <option [value]="option.id" *ngFor="let option of options">{{option.id}} - {{option.name}}</option>
    </select>
</div>
<button type="submit" id="onsubmit-event-kirim" class="event onsubmit-event">Kirim</button>
</form>