<h5 id="header-view-container" >Halaman Detail Pemasukan</h5>
<div class="rse-flexbox main-content"><div id="div-detail-detail-income" class="div-detail view-component"><detail-income [objectDetailIncome]='objectDetailIncome' [idIncome]='idIncome'></detail-income></div></div>